/**
 *The main purpose of this page is to to provide and interface for pages which are displayed on the browser.
 *it includes: pageheader, pagefooter, divPageMenu, divSearch, divContent for the page
 *              .modal, modal-content, close, close:hover, close:focus, modal-header, modal-body and modal-footer for the modal pop up.
 *
 * @summary   This file basically provides the inferface for the the pages which are displayed on the browser.
 *
 *@access public
 */
#pageheader{
	width: 1800px;
	background-color: #993333;
	height: 100px;
	margin-left: -10px;
	font-family: times;
	text-align: center;
}

#pagefooter{
	width: 400px;
	height:100px;
	background-color: #a6a6a6;
	text-align: center;
	clear:both;
	padding: 10px;
	color: white;
	margin-top: 300px;
}

#divPageMenu{
	font-family: times;
	margin-left: 100px;
	text-align: center;
	font-size: 40px;
}

#divSearch{
	font-family: times;
	margin-left: 100px;
	text-align: center;
	font-size: 20px;
}


#divContent{
	margin-left: 170px;
    width: 1000px; height: 400px; overflow: auto; padding: 50px;
    background-color:  #e7d3dc;
}


input[type=submit] {
	background-color: white;
    color: black;
    border: 2px solid #993333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16px;
    font-family: times;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #993333;
}

li {
    float: left;
}

li2 {
    float: right;
    margin-right: 30px;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
/* Change the link color to #a6a6a6 (gray) on hover */
li a:hover {
    background-color: #a6a6a6;
    cursor: hand;
}

li2 a:hover {
    background-color: #a6a6a6;
    cursor: hand;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #993333;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    width: 600px; height: 300px; overflow: auto; padding: 50px;
     background-color: #e7d3dc
    }

.modal-footer {
    padding: 2px 16px;
    background-color: #993333;
    color: white;
}




